<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.unicef.vhn">

    <!-- To auto-complete the email text field in the login form with the user's emails -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.SEND_SMS" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="com.google.android.providers.gsf.permission.READ_GSERVICES" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.RECEIVE_SMS" />
    <uses-permission android:name="android.permission.READ_SMS" />
    <uses-permission android:name="android.permission.CALL_PHONE" />

    <!--<uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />-->
    <!--<uses-permission android:name="android.permission.INTERNET" />-->
    <!--<uses-permission android:name="com.google.android.providers.gsf.permission.READ_GSERVICES" />-->
    <!--<uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />-->
    <!--<uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />-->

    <meta-data
        android:name="com.google.android.gms.version"
        android:value="@integer/google_play_services_version" />

    <meta-data
        android:name="com.google.android.geo.API_KEY"
        android:value="@string/google_maps_key" />



    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name="com.unicef.vhn.activity.MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">

        </activity>
        <activity
            android:name="com.unicef.vhn.activity.LoginActivity"
            android:label="@string/title_activity_login">

        </activity>
        <activity
            android:name="com.unicef.vhn.activity.PNMothersListActivity"
            android:theme="@style/AppTheme" />

        <activity
            android:name="com.unicef.vhn.activity.MotherTrackActivity"
            android:theme="@style/AppTheme" />
        <activity
            android:name="com.unicef.vhn.activity.VhnProfile"
            android:theme="@style/AppTheme" />
        <activity
            android:name="com.unicef.vhn.activity.ImmunizationActivity"
            android:theme="@style/AppTheme" />
        <activity
            android:name="com.unicef.vhn.activity.PNMotherDetailsActivity"
            android:theme="@style/AppTheme" />
        <activity
            android:name="com.unicef.vhn.activity.MotherListActivity"
            android:theme="@style/AppTheme" />
        <activity
            android:name="com.unicef.vhn.activity.PNMotherVisitListDetailsActivity"
            android:theme="@style/AppTheme" />
        <activity
            android:name="com.unicef.vhn.activity.ImmunizationListActivity"
            android:theme="@style/AppTheme" />
        <activity
            android:name="com.unicef.vhn.activity.InfantListActivity"
            android:theme="@style/AppTheme" />
        <!--
            <activity
            android:name=".activity.HighRiskListActivity"
            android:theme="@style/AppTheme" />
        -->

        <activity
            android:name="com.unicef.vhn.activity.PNHBNCListActivity"
            android:theme="@style/AppTheme" />
        <activity
            android:name="com.unicef.vhn.activity.MothersDetailsActivity"
            android:theme="@style/AppTheme" />

        <activity android:name="com.unicef.vhn.activity.MotherLocationActivity"
            android:theme="@style/AppTheme">

        </activity>


        <activity android:name="com.unicef.vhn.activity.SplashScreenActivity"
            android:theme="@style/AppTheme1">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name="com.unicef.vhn.activity.SosAlertListActivity" />
        <activity android:name="com.unicef.vhn.activity.SosMotherDetailsActivity" />
        <activity android:name="com.unicef.vhn.activity.ANViewReportsActivity" />
        <activity android:name="com.unicef.vhn.activity.PNViewReportsActivity" />
        <activity android:name="com.unicef.vhn.activity.TreamPreTreamListActivity" />
        <activity android:name="com.unicef.vhn.activity.TremAndPreTreamDetailsActivity"/>


        <service android:name="com.unicef.vhn.service.LocationMonitoringService" />

        <service android:name="com.unicef.vhn.utiltiy.MyFirebaseInstanceIDService">
            <intent-filter>
                <action android:name="com.google.firebase.INSTANCE_ID_EVENT" />
            </intent-filter>
        </service>

        <service
            android:name="com.unicef.vhn.utiltiy.MyFirebaseMessagingService"
            android:enabled="true"
            android:exported="true" >
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT"/>
            </intent-filter>
        </service>


        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/google_maps_key" />

    </application>

</manifest>